.App{
    position: absolute;
    left: 25%;
    width: 50%;
    border: solid 1px gray;
    height: 100%;
}

@media only screen and (max-device-width: 1024px) {

.App{
    width: 100% !important;
    left: 0px !important;
    border: 0px;
}
    
}